parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Actions/ToggleUserStatusAction.php

		-
			message: '#^Cannot unset offset ''GPSLatitude'' on array\{\}\|string\.$#'
			identifier: unset.offset
			count: 1
			path: app/Filament/Resources/ListingImages/ListingImageResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>name_tr" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/ListingImages/ListingImageResource.php

		-
			message: '#^Cannot access property \$listing_id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Resources/ListingImages/Pages/ViewListingImage.php

		-
			message: '#^Call to static method make\(\) on an unknown class Filament\\Infolists\\Components\\Section\.$#'
			identifier: class.notFound
			count: 4
			path: app/Filament/Resources/Listings/Infolists/ListingImageInfolist.php

		-
			message: '#^Cannot access property \$slug on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Resources/Pages/Pages/EditPage.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Models\\Listing\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/Reports/Tables/ReportsTable.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Models\\User\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/Reports/Tables/ReportsTable.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/BrowseController.php

		-
			message: '#^Access to an undefined property App\\Models\\ListingImage\:\:\$reverseLocationLabel\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ExifMapController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ExifMapController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ExifMapController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ExifMapController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\ListingImage\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ExifMapController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$emoji\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$icon\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name_tr\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$parent\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Listing\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Using nullsafe property access "\?\-\>icon" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:variantPaths\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/ListingController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:reviewsReceived\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/ListingController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:variantPaths\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/ListingController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 3
			path: app/Http/Controllers/ListingController.php

		-
			message: '#^Parameter \#1 \$listing of method App\\Http\\Controllers\\ListingController\:\:storeImages\(\) expects App\\Models\\Listing, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/ListingController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/MapController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Listing\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/MapController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$body\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/MessageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/MessageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/MessageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$sender_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/MessageController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/MessageController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$body\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$caption\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$detail\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$images\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$method\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$qr_path\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:variantPaths\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 3
			path: app/Http/Controllers/ProfileSettingsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/SitemapController.php

		-
			message: '#^Cannot call method canAccessAdminPanel\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Middleware/EnsureUserCanAccessAdminPanel.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Http/Middleware/QueryLogMiddleware.php

		-
			message: '#^Property App\\Http\\Middleware\\QueryLogMiddleware\:\:\$requestStart is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Http/Middleware/QueryLogMiddleware.php

		-
			message: '#^Undefined variable\: \$request$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Middleware/QueryLogMiddleware.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$path_large\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/ProcessListingImage.php

		-
			message: '#^Cannot call method getLabel\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Cannot call method isFuture\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Page\:\:navPages\(\) should return Illuminate\\Support\\Collection\<int, object\> but returns Illuminate\\Support\\Collection\<int, object\{title\: string, slug\: string\}&stdClass\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Page.php

		-
			message: '#^Cannot call method canAccessAdminPanel\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/User.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 6
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\{id\: int, name\: string, slug\: string, icon\: string\|null\}, Closure\(App\\Models\\Category\)\: array\{id\: int, name\: string, slug\: string, icon\: string\|null\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Using nullsafe property access "\?\-\>country_code" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Using nullsafe property access "\?\-\>name_tr" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/GeocodingService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/NabizService.php

		-
			message: '#^Method App\\Services\\NabizService\:\:approvedStories\(\) should return Illuminate\\Support\\Collection\<int, object\{body\: string, created_at\: Illuminate\\Support\\Carbon\}\> but returns Illuminate\\Support\\Collection\<int, object\{body\: string, created_at\: Illuminate\\Support\\Carbon\}&stdClass\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/NabizService.php

		-
			message: '#^Method App\\Services\\NabizService\:\:cityAmbassadors\(\) should return Illuminate\\Support\\Collection\<int, object\{name\: string, city\: string, country_code\: string\|null, referral_count\: int\}\> but returns Illuminate\\Support\\Collection\<int, object\{id\: int, name\: string, city\: string\|null, country_code\: string\|null, referral_count\: null\}&stdClass\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/NabizService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/PerformanceService.php

		-
			message: '#^Comparison operation "\>" between int\<1, max\> and 0 is always true\.$#'
			identifier: greater.alwaysTrue
			count: 1
			path: app/Services/PerformanceService.php
